.image-1 {
    width: 1439.38px;
    height: 643px;
    left: 0px;
    top: 150px;
    position: absolute;
  }

  .rectangle-32 {
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #0967E1;
  }

  .rectangle-32_01 {
    width: 110px;
    height: 110px;
    left: 102px;
    top: 20px;
    position: absolute;
  }

  .sndromededown_span {
    color: white;
    font-size: 100px;
    font-family: Unkempt;
    font-weight: 700;
    line-height: 100px;
    word-wrap: break-word;
  }

  .sndrome-de-down {
    width: 414px;
    left: 121px;
    top: 344px;
    position: absolute;
  }

  .ellipse-5 {
    width: 94px;
    height: 95px;
    left: 385px;
    top: 853px;
    position: absolute;
    background: #F67F1E;
    border-radius: 9999px;
  }

  .ellipse-4 {
    width: 134px;
    height: 136px;
    left: 145px;
    top: 1260px;
    position: absolute;
    background: #EDC536;
    border-radius: 9999px;
  }

  .image {
    width: 440px;
    height: 420px;
    left: 121px;
    top: 948px;
    position: absolute;
  }

  .union {
    width: 122px;
    height: 134px;
    left: 106px;
    top: 925px;
    position: absolute;
    background: #ED365E;
  }

  .union_01 {
    width: 96.31px;
    height: 98px;
    left: 465px;
    top: 1257px;
    position: absolute;
    background: #0967E1;
  }

  .rectangle-43 {
    width: 203.02px;
    height: 142.33px;
    left: 991.20px;
    top: 802px;
    position: absolute;
    transform: rotate(29deg);
    transform-origin: top left;
  }

  .f1demarodiainternacionaldasndromededownessadatafoipropostapeladownsyndromeinternationalpoisfazrefernciaaostrscromossomosnopar21umaatividadecomumnestediausarparesdemeiascoloridasouincompatveiscomoformadeapoioapessoascomsndromededown_span_01 {
    color: black;
    font-size: 70px;
    font-family: Unkempt;
    font-weight: 700;
    line-height: 105px;
    word-wrap: break-word;
  }

  .f1demarodiainternacionaldasndromededownessadatafoipropostapeladownsyndromeinternationalpoisfazrefernciaaostrscromossomosnopar21umaatividadecomumnestediausarparesdemeiascoloridasouincompatveiscomoformadeapoioapessoascomsndromededown_span_02 {
    color: black;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 54px;
    word-wrap: break-word;
  }

  .f1demarodiainternacionaldasndromededownessadatafoipropostapeladownsyndromeinternationalpoisfazrefernciaaostrscromossomosnopar21umaatividadecomumnestediausarparesdemeiascoloridasouincompatveiscomoformadeapoioapessoascomsndromededown_span_03 {
    color: black;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 54px;
    word-wrap: break-word;
  }

  .text-21-de-maro-dia-internacional-da-sndrome-de-down-essa-data-foi-proposta-pela-down-syndrome-international-pois-faz-referncia-aos-trs-cromossomos-no-par-21-uma-atividade-comum-neste-dia-usar-pares-de-meias-coloridas-ou-incompatveis-como-forma-de-apoio-a-pessoas-com-sndrome-de-down {
    width: 688px;
    height: 301px;
    left: 679px;
    top: 1012px;
    position: absolute;
    text-align: justify;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .rectangle-48 {
    width: 370px;
    height: 512px;
    left: 949px;
    top: 1557px;
    position: absolute;
    background: #0967E1;
    border-radius: 20px;
  }

  .rectangle-47 {
    width: 370px;
    height: 512px;
    left: 535px;
    top: 1557px;
    position: absolute;
    background: #F67F1E;
    border-radius: 20px;
  }

  .rectangle-25 {
    width: 370px;
    height: 512px;
    left: 121px;
    top: 1557px;
    position: absolute;
    background: #ED365E;
    border-radius: 20px;
  }

  .escolainclusivaeescolaespecial_span {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .escola-inclusiva-e-escola-especial {
    width: 286px;
    height: 52px;
    left: 577px;
    top: 1744px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .educao_span {
    color: white;
    font-size: 60px;
    font-family: Unkempt;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word;
  }

  .educao {
    width: 247px;
    height: 41px;
    left: 596px;
    top: 1645px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .questespessoais_span {
    color: white;
    font-size: 60px;
    font-family: Unkempt;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 2.40px;
    word-wrap: break-word;
  }

  .questes-pessoais {
    width: 346px;
    height: 126px;
    left: 961px;
    top: 1602px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .desenvolvimentoindividualedesenvolvimentosocial_span {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .desenvolvimento-individual-e-desenvolvimento-social {
    width: 286px;
    height: 46px;
    left: 991px;
    top: 1744px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .famlia_span {
    color: white;
    font-size: 60px;
    font-family: Unkempt;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word;
  }

  .famlia {
    width: 190px;
    height: 71px;
    left: 211px;
    top: 1629px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .gravidezexamespr-nataisexpectativasgeradasimpactododiagnsticorelaoentreospaiseofilhoentreoutrascoisas_span {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .gravidez-exames-pr-natais-expectativas-geradas-impacto-do-diagnstico-relao-entre-os-pais-e-o-filho-entre-outras-coisas {
    width: 334px;
    height: 118px;
    left: 139px;
    top: 1728px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .rectangle-49 {
    width: 257px;
    height: 55px;
    left: 177px;
    top: 1902px;
    position: absolute;
    background: #D90E3A;
    border-radius: 10px;
  }

  .maissobre_span {
    color: white;
    font-size: 40px;
    font-family: Unkempt;
    font-weight: 700;
    line-height: 40px;
    word-wrap: break-word;
  }

  .mais-sobre {
    width: 190px;
    height: 71px;
    left: 214px;
    top: 1894px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .rectangle-50 {
    width: 257px;
    height: 55px;
    left: 591px;
    top: 1902px;
    position: absolute;
    background: #DD6809;
    border-radius: 10px;
  }

  .maissobre_01_span {
    color: white;
    font-size: 40px;
    font-family: Unkempt;
    font-weight: 700;
    line-height: 40px;
    word-wrap: break-word;
  }

  .mais-sobre_01 {
    width: 190px;
    height: 71px;
    left: 628px;
    top: 1894px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .rectangle-51 {
    width: 257px;
    height: 55px;
    left: 1005px;
    top: 1902px;
    position: absolute;
    background: #305B94;
    border-radius: 10px;
  }

  .maissobre_02_span {
    color: white;
    font-size: 40px;
    font-family: Unkempt;
    font-weight: 700;
    line-height: 40px;
    word-wrap: break-word;
  }

  .mais-sobre_02 {
    width: 190px;
    height: 71px;
    left: 1042px;
    top: 1894px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .sobre_span {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .sobre {
    width: 146.53px;
    height: 77.47px;
    left: 999.09px;
    top: 36px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .direitos_span {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .direitos {
    width: 146.53px;
    height: 77.47px;
    left: 1112.47px;
    top: 36px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .relatos_span {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .relatos {
    width: 146.53px;
    height: 77.47px;
    left: 1229px;
    top: 36px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .rectangle-44 {
    width: 99px;
    height: 51px;
    left: 859px;
    top: 49px;
    position: absolute;
    background: #519AFA;
    border-radius: 10px;
  }

  .incio_span {
    color: white;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .incio {
    width: 146.53px;
    height: 59.31px;
    left: 879px;
    top: 45.14px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .union_02 {
    width: 122px;
    height: 122px;
    left: 891px;
    top: 2211px;
    position: absolute;
    background: #EDC536;
  }

  .ellipse-6 {
    width: 56px;
    height: 55px;
    left: 835px;
    top: 2156px;
    position: absolute;
    background: #ED365E;
    border-radius: 9999px;
  }

  .asndromededowntambmconhecidacomotrissomiadocromossomo21umaalteraogenticaqueresultaemumasriedecaractersticasfsicasecognitivasquediferemdasdeindivduostpicos_span_01 {
    color: black;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 60px;
    word-wrap: break-word;
  }

  .asndromededowntambmconhecidacomotrissomiadocromossomo21umaalteraogenticaqueresultaemumasriedecaractersticasfsicasecognitivasquediferemdasdeindivduostpicos_span_02 {
    color: black;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 60px;
    word-wrap: break-word;
  }

  .asndromededowntambmconhecidacomotrissomiadocromossomo21umaalteraogenticaqueresultaemumasriedecaractersticasfsicasecognitivasquediferemdasdeindivduostpicos_span_03 {
    color: black;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 60px;
    word-wrap: break-word;
  }

  .a-sndrome-de-down-tambm-conhecida-como-trissomia-do-cromossomo-21-uma-alterao-gentica-que-resulta-em-uma-srie-de-caractersticas-fsicas-e-cognitivas-que-diferem-das-de-indivduos-tpicos {
    width: 1162px;
    left: 115px;
    top: 2353px;
    position: absolute;
    text-align: justify;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .trissomia21_span {
    color: black;
    font-size: 70px;
    font-family: Unkempt;
    font-weight: 700;
    line-height: 105px;
    word-wrap: break-word;
  }

  .trissomia-21 {
    width: 1026px;
    height: 105px;
    left: 183px;
    top: 2211px;
    position: absolute;
    text-align: center;
  }

  .desktop---1 {
    width: 1440px;
    height: 2793px;
    position: relative;
    background: white;
    overflow: hidden;
  }